@charset "UTF-8";

/*Todas as demais mídias*/

@media print {
    * {
        font-family: 'Courier New', Courier, monospace;
    }

    main {
        border: 2px solid black;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }
    #phone,#tablet,#pc,#tv {
    display: none; }
    #impressora {
        display: block;
    }

    main::after {
        content: "ESSA IMPRESSÃO FOI PATROCINADA POR SUPER XANDÃO FOREVER";
    }
    
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }
    #phone,#impressora,#pc,#tv {
    display: none; }
    #tablet {
        display: block;
    }
}

@media screen and (min-width: 1280px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }
     #phone,#impressora,#tablet,#tv {
    display: none; }
    #pc {
        display: block;
    }
    
    

}